workflows/context-library-management.json
{
  "name": "Agent700 Context Library Management",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "entry",
        "operation": "getMany"
      },
      "id": "list-data",
      "name": "List All Data",
      "type": "agent700ContextLibrary",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    },
    {
      "parameters": {
        "resource": "entry",
        "operation": "upsert",
        "key": "user_context",
        "value": "={{$json.data}}"
      },
      "id": "upsert-data",
      "name": "Upsert Data",
      "type": "agent700ContextLibrary",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendMessage",
        "agentId": {
          "mode": "id",
          "value": "YOUR_AGENT_UUID"
        },
        "message": "Based on this context: {{$json.user_context}}, answer my question",
        "simplify": true
      },
      "id": "chat-with-context",
      "name": "Chat with Context",
      "type": "agent700Agent",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "List All Data", "type": "main", "index": 0 }]]
    },
    "List All Data": {
      "main": [[{ "node": "Upsert Data", "type": "main", "index": 0 }]]
    },
    "Upsert Data": {
      "main": [[{ "node": "Chat with Context", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}



