workflows/url-evaluation.json
{
  "name": "Agent700 URL Evaluation",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "entry",
        "operation": "getMany"
      },
      "id": "context-library-list",
      "name": "Get URLs from Context Library",
      "type": "agent700ContextLibrary",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "split-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendMessage",
        "agentId": {
          "mode": "id",
          "value": "YOUR_AGENT_UUID"
        },
        "message": "Analyze this URL for privacy concerns: {{$json.url}}",
        "simplify": true
      },
      "id": "agent700-chat",
      "name": "Evaluate URL",
      "type": "agent700Agent",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    },
    {
      "parameters": {
        "resource": "entry",
        "operation": "upsert",
        "key": "evaluation_{{$json.url}}",
        "value": "={{$json.response}}"
      },
      "id": "save-results",
      "name": "Save Results",
      "type": "agent700ContextLibrary",
      "typeVersion": 3,
      "position": [1050, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get URLs from Context Library", "type": "main", "index": 0 }]]
    },
    "Get URLs from Context Library": {
      "main": [[{ "node": "Split in Batches", "type": "main", "index": 0 }]]
    },
    "Split in Batches": {
      "main": [[{ "node": "Evaluate URL", "type": "main", "index": 0 }]]
    },
    "Evaluate URL": {
      "main": [[{ "node": "Save Results", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}



