tests/workflows/test-error-handling.json
{
  "name": "Test Error Handling",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "baseUrl": "https://api.agent700.ai",
        "appPassword": "YOUR_APP_PASSWORD",
        "resource": "chat",
        "operation": "sendMessage",
        "agentId": "invalid-uuid",
        "message": "This should fail",
        "simplify": true,
        "continueOnFail": true
      },
      "id": "chat-with-error",
      "name": "Chat with Error",
      "type": "agent700Agent",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "agent700AppPasswordApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Agent700 App Password API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fallback_message",
              "value": "Error occurred, using fallback"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback",
      "name": "Fallback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Chat with Error", "type": "main", "index": 0 }]]
    },
    "Chat with Error": {
      "main": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

